<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>StudentScore</display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TeacherSearchServlet</servlet-name>
    <servlet-class>servlet.TeacherSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherSearchServlet</servlet-name>
    <url-pattern>/teacherSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGradeServlet</servlet-name>
    <servlet-class>servlet.AddGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGradeServlet</servlet-name>
    <url-pattern>/addGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeGradeServlet</servlet-name>
    <servlet-class>servlet.ChangeGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeGradeServlet</servlet-name>
    <url-pattern>/changeGrade</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>DeleteGradeServlet</servlet-name>
    <servlet-class>servlet.DeleteGradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGradeServlet</servlet-name>
    <url-pattern>/deleteGrade</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminSearchCourseServlet</servlet-name>
    <servlet-class>servlet.AdminSearchCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchCourseServlet</servlet-name>
    <url-pattern>/adminSearchCourse</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminSearchStudentServlet</servlet-name>
    <servlet-class>servlet.AdminSearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchStudentServlet</servlet-name>
    <url-pattern>/adminSearchStudent</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminSearchTeacherServlet</servlet-name>
    <servlet-class>servlet.AdminSearchTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSearchTeacherServlet</servlet-name>
    <url-pattern>/adminSearchTeacher</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <servlet-class>servlet.AdminUpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <url-pattern>/adminUpdateTeacher</url-pattern>
  </servlet-mapping>
       <servlet>
    <servlet-name>AdminInsertTeacherServlet</servlet-name>
    <servlet-class>servlet.AdminInsertTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertTeacherServlet</servlet-name>
    <url-pattern>/adminInsertTeacher</url-pattern>
  </servlet-mapping>
         <servlet>
    <servlet-name>AdminDeleteTeacherServlet</servlet-name>
    <servlet-class>servlet.AdminDeleteTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteTeacherServlet</servlet-name>
    <url-pattern>/adminDeleteTeacher</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <servlet-class>servlet.AdminUpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <url-pattern>/adminUpdateStudent</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>AdminInsertStudentServlet</servlet-name>
    <servlet-class>servlet.AdminInsertStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertStudentServlet</servlet-name>
    <url-pattern>/adminInsertStudent</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>AdminDeleteStudentServlet</servlet-name>
    <servlet-class>servlet.AdminDeleteStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteStudentServlet</servlet-name>
    <url-pattern>/adminDeleteStudent</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>AdminUpdateCourseServlet</servlet-name>
    <servlet-class>servlet.AdminUpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateCourseServlet</servlet-name>
    <url-pattern>/adminUpdateCourse</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>AdminInsertCourseServlet</servlet-name>
    <servlet-class>servlet.AdminInsertCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInsertCourseServlet</servlet-name>
    <url-pattern>/adminInsertCourse</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>AdminDeleteCourseServlet</servlet-name>
    <servlet-class>servlet.AdminDeleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteCourseServlet</servlet-name>
    <url-pattern>/adminDeleteCourse</url-pattern>
  </servlet-mapping>
</web-app>